.deps/
.idea/
*.o
*.so
*.dylib
pgdata/
build/
dist/
*.egg-info/
archive/
venv/

/*.png
/results/
/pgdata/
/regression.diffs
/regression.out
llama-*

# Simplify for now
README.md.1
.dockerignore
Dockerfile
examples/
